.GetStartedBtn{
    background:#4BD575;
    height:50px;
    max-width:390px;
    min-width:250px;
    color: #FAFBFB;
    cursor: pointer;
    padding:0px;
    border-radius:44px;
    font-size:28px;
    margin:40px auto;
    border:none;
    font-family: 'Varela Round', sans-serif;
};

.GetStartedBtn:hover{
    background:#53ee81; 
}