.go-train-mobile-btn{
        border:none;
        background:#7AD596;
        color:#27272F;
        height:30px;
        width:120px;
        font-size:16px;
        border-radius: 100px;
        font-family:'Varela-Round', helvetica, sans-serif;
        position: absolute;
        top:3vh;
        right:150px;
    }

    .go-train-mobile-btn:hover{
        background:#6fc288;
    }



    
    @media only screen and (max-width:460px){
    .go-train-mobile-btn{
        top:10vh;
        right:5vw;
        font-weight:600;
    }
}