.gallery-container{
    margin:0px auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.gallery-header{
    color:white;
    font-size:18px;
    text-align: center;
    padding:0px;
    margin:0px auto;
}

.gallery-image{
    width:70%;
    margin:20px;
}

.gallery-text{
    color:white;
    font-size:16px;
    text-align: center;
    padding-bottom:30px;
    max-width:600px;
    line-height:2;
}

@mixin gallery-btn {
    background:rgba(255,255,255,0.2);
    border:none;
    margin:20px;
    border-radius: 500px;
    width:5vw;
    height:5vw;
    overflow: hidden;
}

.gallery-btn-prev{
    @include gallery-btn;
    -webkit-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
            transform:rotate(90deg);
    position: absolute;
    left:0px;
    top:40%;
};

.gallery-btn-next{
    @include gallery-btn;
    -webkit-transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
            transform:rotate(-90deg);
    position: absolute;
    right:0px;
    top:40%;
}


@mixin pseudoInset{
    margin:0px;
    content:'';
    position: absolute;
    top:0px;
    height:0%;
    width:100%;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.gallery-btn-prev::after{
    @include pseudoInset;
    left:0px;
}

.gallery-btn-next::after{
    @include pseudoInset;
    right:0px;
}

.gallery-btn-prev:hover::after{
    background:rgba(255,255,255,0.3);
    height:100%;
}

.gallery-btn-next:hover::after{
    background:rgba(255,255,255,0.3);
    height:100%;
}


@mixin button-icon {
    width:1vw;
    height:1vw;
    margin:0px auto;
    border-bottom:solid 2px white;
    border-left:solid 2px white;
    z-index:2;
}

.button-icon-prev{
    @include button-icon;
    -webkit-transform:rotate(315deg);
        -ms-transform:rotate(315deg);
            transform:rotate(315deg);
    -webkit-transform-origin:center;
        -ms-transform-origin:center;
            transform-origin:center;
}

.button-icon-next{
    @include button-icon;
    -webkit-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
            transform:rotate(-45deg);
    -webkit-transform-origin:center;
        -ms-transform-origin:center;
            transform-origin:center;
}

@media only screen and (max-width:530px){

    
    .gallery-btn-prev{
        @include gallery-btn;
        top:30%;
    };
    
    .gallery-btn-next{
        @include gallery-btn;
        top:30%;
    }
}