.help-btn{
    border:none;
    background:#4E5AC2;
    color:#FAFBFB;
    height:30px;
    width:70px;
    font-size:16px;
    border-radius: 100px;
    font-family:'Varela-Round', helvetica, sans-serif;
    position: absolute;
    top:3vh;
    right:60px;
}

.help-btn:hover{
    background:#4651af;
}

@media only screen and (max-width:460px){
.help-btn{
    top:3vh;
    right:5vw;
    font-weight:600;
}
}