.hero-container{
    width:100vw;
    height: 90vh;
    color:white;
    display:flex;
    flex-direction: column;
    padding:20px;
    box-sizing: border-box;
}

.hero-image{
    height:50vh;
    width:80vw;
    margin:auto;
    display:block;
}

.hero-header{
    font-size:56px;
    text-align: center;
}

.hero-text{
    font-size:24px;
    text-align: center;
    color:white;
}

@media only screen and (max-width:400px){
    .hero-header{
        font-size:36px;
        color:white;
    }
}