.mouse-main{
    border:solid 3px #4CC9E0;
    width:28px;
    height:56px;
    border-radius:25px;
    margin:30px auto 30px auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.mouse-scroll{
    width: 5px;
    background:white;
    height:15px;
    border-radius: 5px;
    margin:10px auto;
    position: relative;
    opacity:1;
    -webkit-animation-name: scroll;
            animation-name: scroll;
    -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
    -webkit-animation-timing-function: cubic-bezier(.15,.41,.69,.94);
            animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
0% { opacity: 0; }
10% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
100% { -webkit-transform: translateY(15px); transform: translateY(15px); opacity: 0;}
}

@keyframes scroll {
0% { opacity: 0; }
10% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
100% { -webkit-transform: translateY(15px); transform: translateY(15px); opacity: 0;}
}