nav{
        width:100vw;
        height:90px;
        background:#4E5AC2;
        color:#FAFBFB;
        padding:0px;
        margin:0px;
};

.navbar-list{
    display: flex;
    justify-content: flex-end;
    list-style-type:none;
    height:100%;
    margin-right:5vw;
    align-items: center;
}

.navbar-list-item{
    margin:0px 20px;
    padding:0px;
    font-size:28px;
    height:46px;
    line-height:46px;
}

.focus-nav-icon{
    background:#4BD575;
    padding:0px 30px;
    border-radius: 32px;
}