.add-exercise-btn-style{
    width:324px;
    background:#303038;
    color:#4E5AC2;
    font-weight:bold;
    height:57px;
    font-size:16px;
    border-radius:10px;
    border:none;
    margin:5px;
    cursor:pointer;
    font-family: 'Varela Round', sans-serif;
}

.add-exercise-svg{
    width:27px;
    margin:10px;
    vertical-align:middle;
}

@media only screen and (max-width:450px){
    .add-exercise-btn-style{
        height:50px;
        line-height:36px;
        width:90vw;
    }

    .add-exercise-svg{
        width:18px;
        margin:auto 10px;
    }
}

@media only screen and (max-width:900px) and (orientation: landscape){
    .add-exercise-btn-style{
        width:90vw;
    }
}