h3{
    text-align:left;
    color: #75757B;
    font-size:16px;
    padding:0 10px;
    width:90%;
}


.audio-player{
            background:#303038;
            margin:10px;
            -webkit-box-flex:2;
                -ms-flex-positive:2;
                    flex-grow:2;
            border-radius:10px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
                -ms-flex-direction:column;
                    flex-direction:column;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            -webkit-box-pack:start;
                -ms-flex-pack:start;
                    justify-content:flex-start;
            -webkit-box-sizing:border-box;
                    box-sizing:border-box;
            border: 5px solid #303038;
            -webkit-box-shadow: -5px -5px 5px rgba(255,255,255,0.05),
                        inset -5px -5px 5px rgba(255,255,255,0.05),
                        5px 5px 5px rgba(0,0,0,0.3),
                        inset 5px 5px 5px rgba(0,0,0,0.3);
                    box-shadow: -5px -5px 5px rgba(255,255,255,0.05),
                        inset -5px -5px 5px rgba(255,255,255,0.05),
                        5px 5px 5px rgba(0,0,0,0.3),
                        inset 5px 5px 5px rgba(0,0,0,0.3);
        }

#track-info{
    font-size:28px;
    margin:10px;
    text-align:center;
}

#play-pause-stop-flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    margin:10px auto 20px auto;
}
.music-icon{
    width:40px;

}
.music-button{
    height:60px;
    background:none;
    margin:auto 20px;
    border-radius: 50%;
    border:none;
    border: 3px solid #303038;
    -webkit-box-shadow: -5px -5px 5px rgba(255,255,255,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.05),
                5px 5px 5px rgba(0,0,0,0.3),
                inset 5px 5px 5px rgba(0,0,0,0.3);
            box-shadow: -5px -5px 5px rgba(255,255,255,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.05),
                5px 5px 5px rgba(0,0,0,0.3),
                inset 5px 5px 5px rgba(0,0,0,0.3);
}

.music-button:active{
    border: 3px solid #303038;
    -webkit-box-shadow: -2px -2px 2px rgba(255,255,255,0.05),
                inset -2px -2px 2px rgba(255,255,255,0.05),
                2px 2px 2px rgba(0,0,0,0.3),
                inset 2px 2px 2px rgba(0,0,0,0.3);
            box-shadow: -2px -2px 2px rgba(255,255,255,0.05),
                inset -2px -2px 2px rgba(255,255,255,0.05),
                2px 2px 2px rgba(0,0,0,0.3),
                inset 2px 2px 2px rgba(0,0,0,0.3);
}

