.completion-style    {
    background:#303038;
    min-width:324px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    margin:10px;
    padding-bottom:10px;
    flex-grow:2;
    border: 5px solid #303038;
    box-shadow: -5px -5px 5px rgba(255,255,255,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.05),
                5px 5px 5px rgba(0,0,0,0.3),
                inset 5px 5px 5px rgba(0,0,0,0.3);
}

#progress-container{
    width:150px;
    height:150px;
    margin:20px auto;
    
}