.eq{
    width:100px;
    height:70px;
    display:flex;
    flex-direction: row;
    align-items:flex-end;
    margin:10px;
}

.eq-bar{
    width:10px;
    border-radius: 5px;
    height:40px;
    display: inline-block;
    margin:3px;
    animation-name: pulse;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.25,.79,.55,.99);
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0%{height:20px;}
    50%{height:70px;}
    100%{height:20px;}
}

#bar-1{
    background:#7AD596;
    animation-delay: 0s;
}
#bar-2{
    background:#7AD596;
    animation-delay: 0.2s;
}
#bar-3{
    background:#F4B74B;
    animation-delay: 0.4s;
}
#bar-4{
    background:#F4B74B;
    animation-delay: 0.3s;
}
#bar-5{
    background:red;
    animation-delay: 0.55s;
}
#bar-6{
    background:red;
    animation-delay: 0.5s;
}