.input-style {
    text-align:center;
    width:100%;
    margin:0px auto;
    padding-bottom: 10px;
}

.input-header-style{
    font-size:24px;
    font-weight:bold;
    color:#A3A3A7;
    margin:0 auto;
}

@media only screen and (max-width:450px){
    .input-header-style{
        background:#4E5AC2;
        margin:10px 10px 0px 10px;
        height:65px;
        color:#27272F;
        line-height:65px;
        border-radius: 10px 10px 0px 0px;
    }
}