#input-title{
    font-size:16px;
    font-weight:bold;
    color:#75757B;

}

#exercise-input{
    width:215px;
    height:36px;
    background:#393941;
    color:white;
    border:none;
    margin:20px auto 0px auto;
    font-size:26px;
    font-weight:bold;
    padding:5px;
    text-align: center;
};

#form-line-break{
    margin:40px auto;
}