.loader-main{
    margin:50px auto;
    text-align: center;
}

.loader{
    width:50vw;
    height:10px;
    border:solid 2px white;
    margin:50px auto;
    border-radius:10px;
    animation: load-animation 5s linear 0s 1 forwards;
};

.loader-countdown{
    font-size:48px;
}

@keyframes load-animation {
    0%{box-shadow: inset 0px 0 0 0.01px white;}
    100%{box-shadow: inset 50vw 0 0 0 white;}
}

