
.progress-bar{
    margin:0px auto;
}

.progress-svg {
    display: block;
    margin: auto;
    max-width: 100;
}

.svg-circle-bg {
    fill: none;
}

.svg-circle {
    fill: none;
}
.svg-circle-text {
    text-anchor: middle;
    fill: #fff;
    font-weight: bold;
    alignment-baseline:central;
}