.total-duration-style{
    min-width:23px;
    background:#5968EB;
    height:20px;
    color:#303038;
    font-weight:bold;
    border-radius:5px;
    font-size:16px;
    padding:5px;
    text-align:center;
};