.stats {
    background:#303038;
    border-radius:10px;
    color:#5968EB;
    display:flex;
    flex-direction:column;
    flex-grow:0;
    margin:0px 0px 5px 5px;
}


h3{
    text-align:left;
    color: #75757B;
    font-size:16px;
    padding:0 10px;
}

hr{
    width:90%;
    border:solid 1px #393941;
    background-color:#393941;
    color:#393941;
    margin:0 8px; 
}
.stats-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px;
}

.show-difficulty{
    background:#F4B74B;
    height:21px;
    color:#303038;
    font-weight:bold;
    border-radius: 5px;
    font-size:16px;
    padding:5px;
};

@media only screen and (max-width:450px){
    .stats-flex{

    }
}

@media only screen and (max-width:900px) and (orientation: landscape){
    .stats{
        min-width:90vw;
    }
}