p{
    color:#75757B;
}

.exercise-header{
    min-width:50%;
}
.time-header{
    text-align:right;
    margin-right: 11vw;
    margin-left:10px;
}

.workout-list-scroller{
    overflow:scroll;
    position: relative;
    height:85%;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    padding:0px;
    box-shadow: inset 3px 30px 10px 0 #303038;
}
.workout-list{
    box-sizing:border-box;
    min-width:60vw;
    background:#303038;
    border-radius:10px;
    margin:0px 5px 10px 5px;
    padding-bottom:30px;
    max-height: 470px;
    overflow: hidden;
    position: relative;
}
.workout-list::after
{
 box-shadow: inset 0px -30px 10px 0 #303038;
 content: '';
 display: block;
 height: 100%;
 position: absolute;
 top: 0;
 width: 100%;
 pointer-events: none;
}


.workout-list-header-flex{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-grow: 2;
}

@media only screen and (max-width:450px){
    .workout-list{
        flex-grow: 2;
        margin:10px 0px;
        max-height:350px;
        min-width:330px;

    }
}

@media only screen and (max-width:900px) and (orientation: landscape){
    .workout-list{
        min-width:90vw;
        flex-grow: 2;
        margin:10px 15px;
        max-height:350px;
    }
}